<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--link css-->
    <link rel="stylesheet" href="/Static/CSS/styleIndex.css">
    <!--iconos externos-->
    <script src="https://kit.fontawesome.com/fae5ac15d7.js" crossorigin="anonymous"></script>
    <script src="/Static/CSS/script.js"></script>
    <title>Top Almacen</title>
</head>

<body>
    <header>
        <div class="contenedora">
            <!-- navegador y menu-->
            <nav>
                <div class="menu-btn" onclick="toggleMenu()">
                    <div class="btn-linea"></div>
                    <div class="btn-linea"></div>
                    <div class="btn-linea"></div>
                    <div class="menu-fondo"></div>
                </div>
                <ul>
                    <li><a href="./index.html">Inicio</a></li>
                    <li><a href="./template/Productos.html">Productos</a></li>
                    <li><a href="./template/Sucursales.html">Sucursales</a></li>
                    <li><a href="./template/Registro.html">Registrate</a></li>
                    <li><a href="#lupa">Lupa</a></li>
                    <li><a href="#carrito">Carrito</a></li>
                </ul>
            </nav>
            <div>
                <a href="index.html">
                    <figure>
                        <picture>
                            <source srcset="Static/img/logo-almacen.svg" media="(min-width:100px)">
                            <img src="/Static/img/logo-almacen.svg" alt="Logo de Top Almacen">
                        </picture>
                    </figure>
                </a>
                <form action="/template/Productos.html" method="GET" class="busqueda">
                    <input type="text" placeholder="¿Que queres comprar hoy?">
                    <button type="submit"><i class="material-icons">Buscar</i></button>
                </form>
                <a href="/template/Login.html"><img src="/Static/img/perfil.svg" alt="Perfil" class="img-perfil"></a>
            </div>
        </div>
    </header>

    <!--Cuerpo de la pagina con promociones-->
    <main>
        <section class="main">
            <section id="promociones">
                <p class="promocionesbancarias">Promociones Bancarias</p>
                <div class="banco1">
                    <p>Banco Patagonico</p>
                    <p>6 cuotas sin interes</p>
                    <!-- <div class="card">
                        <picture>
                            <img src="" alt="">
                        </picture> -->

                </div>
                </div>
                <div class="banco2">
                    <p>Banco Norteño</p>
                    <p>3 cuotas sin interes</p>
                </div>
                <div class="banco3">
                    <p>Banco IBCB</p>
                    <p>6 cuotas sin interes</p>
                </div>
                <div class="banco4">
                    <p>Banco Más</p>
                    <p>6 cuotas sin interes + ¡Envio GRATIS!</p>
                </div>

            </section>
            <section class="ofertas">
                <p class="ofertas">Ofertones de la semana</p>
                <div class="oferta-lista">
                    <a href="/template/Productos.html">
                        <div class="card">
                            <picture>
                                <img src="/Static/img/aceite-oliva.webp" alt="aceite-oliva">
                            </picture>
                            <p>Aceite de Oliva</p>
                            <p>Llevando 3 pagas 2</p>
                    </a>
                </div>

                </div>
                <div class="oferta-lista">
                    <a href="/template/Productos.html">
                        <div class="card">
                            <picture>
                                <img src="/Static/img/pure-de-tomate.jpg" alt="pure-de-tomate">
                            </picture>
                            <p>Pure de Tomate</p>
                            <p>25% de descuento en la segunda unidad</p>
                    </a>
                </div>

                </div>
                <div class="oferta-lista">
                    <a href="/template/Productos.html">
                        <div class="card">
                            <picture>
                                <img src="/Static/img/polenta-presto-pronta.jpg" alt="polenta-presto-pronta">
                            </picture>
                            <p>Polenta Presto Pronta</p>
                            <p>¡Precios Cuidados!</p>
                    </a>
                </div>


                </div>
                <div class="oferta-lista">
                    <a href="/template/Productos.html">
                        <div class="card">
                            <picture>
                                <img src="/Static/img/Agua-Mineral-De-Manantial-Sin-Gas-villavicencio.jpg"
                                    alt="Agua-Mineral-De-Manantial-Sin-Gas-villavicencio">
                            </picture>
                            <p>Agua mineral</p>
                            <p>Llevando 3 pagas 2</p>
                    </a>
                </div>

                </div>
                <div class="oferta-lista">
                    <a href="/template/Productos.html">
                        <div class="card">
                            <picture>
                                <img src="/Static/img/cafe-la-virginia.webp" alt="cafe-la-virginia">
                            </picture>
                            <p>Cafe La Virginia</p>
                    </a>
                </div>

                </div>
                <div class="oferta-lista">
                    <a href="/template/Productos.html">
                        <div class="card">
                            <picture>
                                <img src="/Static/img/queso-parmesamo.jpg" alt="queso-parmesamo">
                            </picture>
                            <p>Queso Parmesano</p>
                    </a>
                </div>

                </div>
            </section>
        </section>


    </main>
    <footer>

        <!--Pie de pagina de nuestra Pagina , donde tenemos informacion de contacto, y tambien un mapa de nustra pagina, -->
        <section class="section_footer">
            <article class="footer">

                <!--FALTA: Colocar logos-->
                <i class="fa fa-circle-check" style="color:#000000;"></i>
                <div class="info_">
                    <h5>Pago seguro</h5>
                </div>
                <i class="fa fa-truck-fast" style="color: #000000;"></i>
                <div class="info_">
                    <h5>Delivery</h5>
                </div>
                <i class="fa fa-box-open" style="color:#000000;"></i>
                <div class="info_">
                    <h5>Diseño gratis</h5>
                </div>
                <i class="fa fa-headphones" style="color: #000000;"></i>
                <div class="info_">
                    <h5>Asesoria tecnica</h5>
                </div>
            </article>


            <article>
                <div class="footer"><!--Informacion de contacto con sus logos-->
                    <h6>Contactenos</h6>
                    <i class="fa fa-phone"></i>
                    <a class="nav_footer" href="tel:+1137799588">11111111</a>
                    <i class="fa fa-envelope"></i>
                    <a href="mailto:gonzalezmatias877@gmail.com">warehouse@gmail.com</a>
                    <h6>Ubicacion</h6>
                </div>
            </article>


            <div class="footer">
                <h6>2023 NOMBRE DE LA MARCA/TODOS LOS DERECHOS RESERVADOS.</h6><br>
            </div>
        </section>

    </footer>
</body>

</html>