<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/Static/CSS/Style.css">
    <title>Login</title>
</head>

<body>
    <header>
        <div class="contenedora">
            <nav>
                <div class="menu-btn" onclick="toggleMenu()">
                    <div class="btn-linea"></div>
                    <div class="btn-linea"></div>
                    <div class="btn-linea"></div>
                    <div class="menu-fondo"></div>
                </div>
                <ul>
                    <li><a href="./index.html">Inicio</a></li>
                    <li><a href="./template/Productos.html">Productos</a></li>
                    <li><a href="./template/Sucursales.html">Sucursales</a></li>
                    <li><a href="./template/Registro.html">Registrate</a></li>
                    <li><a href="#lupa">Lupa</a></li>
                    <li><a href="#carrito">Carrito</a></li>
                </ul>
            </nav>
            <div>
                <a href="index.html">
                    <figure>
                        <picture>
                            <source srcset="Static/img/logo-almacen.svg" media="(min-width:100px)">
                            <img src="/Static/img/logo-almacen.svg" alt="Logo de Top Almacen">
                        </picture>
                    </figure>
                </a>
                <form action="filtros.html" method="GET" class="busqueda">
                    <input type="text" placeholder="¿Que queres comprar hoy?">
                    <button type="submit"><i class="material-icons">Buscar</i></button>
                </form>
                <a href="/template/Login.html"><img src="/Static/img/perfil.svg" alt="Perfil" class="img-perfil"></a>
            </div>
        </div>
    </header>
    <section id="form-wrapper">
        <h4 id="titulo-login">Ingrese Usuario y Contraseña</h4>
        <div class="form-control">
            <input type="text" name="email" id="email" placeholder="PepeGonzalez@gmail.com">
            <input type="password" name="password" id="password" placeholder="***********">
            <input type="submit" name="Ingresar" id="ingresar" value="Ingresar">
            <input type="checkbox" name="recordar-password" id="recordar-password">
            <span id="recordar-password">Recordar contraseña</span>
        </div>
        <div class="form-control">
            <a href="#" id="forgetpassword">¿Olvidaste tu contraseña?</a>
            <a href="/template/Registro.html" id="forgetpassword">Registrarme</a>
        </div>
    </section>

</body>

</html>