<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/Static/CSS/Style.css">
    <title>Login</title>
</head>

<body>
    <section id="form-wrapper">
        <h4 id="titulo-login">Ingrese Usuario y Contraseña</h4>
        <div class="form-control">
            <input type="text" name="email" id="email" placeholder="PepeGonzalez@gmail.com">
            <input type="password" name="password" id="password" placeholder="***********">
            <input type="submit" name="Ingresar" id="ingresar" value="Ingresar">
            <input type="checkbox" name="recordar-password" id="recordar-password">
            <span id="recordar-password">Recordar contraseña</span>
        </div>
        <div class="form-control">
            <a href="#" id="forgetpassword">¿Olvidaste tu contraseña?</a>
            <a href="/template/Registro.html" id="forgetpassword">Registrarme</a>
        </div>
    </section>

</body>

</html>