<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/Static/CSS/Style.css">
    <title>Login</title>
</head>

<body>
    <header>
        <div class="contenedora">
            <!-- navegador y menu-->
            <nav>
                <div class="menu-btn" onclick="toggleMenu()">
                    <div class="btn-linea"></div>
                    <div class="btn-linea"></div>
                    <div class="btn-linea"></div>
                    <div class="menu-fondo"></div>
                </div>
                <ul>
                    <li><a href="./index.html">Inicio</a></li>
                    <li><a href="./template/Productos.html">Productos</a></li>
                    <li><a href="./template/Sucursales.html">Sucursales</a></li>
                    <li><a href="./template/Registro.html">Registrate</a></li>
                    <li><a href="#lupa">Lupa</a></li>
                    <li><a href="#carrito">Carrito</a></li>
                </ul>
            </nav>
            <div>
                <a href="/index.html">
                    <figure>
                        <picture>
                            <source srcset="../Static/img/logo-almacen.svg" media="(min-width:100px)">
                            <img src="../Static/img/logo-almacen.svg" alt="Logo de Top Almacen">
                        </picture>
                    </figure>
                </a>
                <form action="/template/Productos.html" method="GET" class="busqueda">
                    <input type="text" placeholder="¿Que queres comprar hoy?">
                    <button type="submit"><i class="material-icons">Buscar</i></button>
                </form>
                <a href="/template/Login.html"><img src="/Static/img/perfil.svg" alt="Perfil" class="img-perfil"></a>
            </div>
        </div>
    </header>
    <section id="form-wrapper">
        <h4 id="titulo-login">Ingrese Usuario y Contraseña</h4>
        <div class="form-control">
            <input type="text" name="email" id="email" placeholder="PepeGonzalez@gmail.com">
            <input type="password" name="password" id="password" placeholder="***********">
            <input type="submit" name="Ingresar" id="ingresar" value="Ingresar">
            <input type="checkbox" name="recordar-password" id="recordar-password">
            <span id="recordar-password">Recordar contraseña</span>
        </div>
        <div class="form-control">
            <a href="#" id="forgetpassword">¿Olvidaste tu contraseña?</a>
            <a href="/template/Registro.html" id="forgetpassword">Registrarme</a>
        </div>
    </section>
    <footer>

        <!--Pie de pagina de nuestra Pagina , donde tenemos informacion de contacto, y tambien un mapa de nustra pagina, -->
        <section class="section_footer">
            <article class="footer">

                <!--FALTA: Colocar logos-->
                <i class="fa fa-circle-check" style="color:#000000;"></i>
                <div class="info_">
                    <h5>Pago seguro</h5>
                </div>
                <i class="fa fa-truck-fast" style="color: #000000;"></i>
                <div class="info_">
                    <h5>Delivery</h5>
                </div>
                <i class="fa fa-box-open" style="color:#000000;"></i>
                <div class="info_">
                    <h5>Diseño gratis</h5>
                </div>
                <i class="fa fa-headphones" style="color: #000000;"></i>
                <div class="info_">
                    <h5>Asesoria tecnica</h5>
                </div>
            </article>


            <article>
                <div class="footer"><!--Informacion de contacto con sus logos-->
                    <h6>Contactenos</h6>
                    <i class="fa fa-phone"></i>
                    <a class="nav_footer" href="tel:+1137799588">11111111</a>
                    <i class="fa fa-envelope"></i>
                    <a href="mailto:gonzalezmatias877@gmail.com">warehouse@gmail.com</a>
                    <h6>Ubicacion</h6>
                </div>
            </article>


            <div class="footer">
                <h6>2023 NOMBRE DE LA MARCA/TODOS LOS DERECHOS RESERVADOS.</h6><br>
            </div>
        </section>

    </footer>
</body>

</html>