<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../Static/CSS/Productos.css">
</head>
<body>
    <header>
        <div class="contenedora">
            <!-- navegador y menu-->
            <nav>
                <ul>
                    <li><a href="../../Grupo4/index.html">Inicio</a></li>
                    <li><a href="./Productos.html">Productos</a></li>
                    <li><a href="./Sucursales.html">Sucursales</a></li>
                    <li><a href="./Registro.html">Registrate</a></li>
                </ul>
            </nav>
            <div>
                <a href="../../Grupo4/index.html">
                    <figure>
                        <picture>
                            <source srcset="../Static/img/logo-almacen.svg" media="(min-width:100px)">
                            <img src="../../Grupo4/Static/img/logo-almacen.svg" alt="Logo de Top Almacen">
                        </picture>
                    </figure>
                </a>
                <form action="../../Grupo4/template/Productos.html" method="GET" class="busqueda">
                    <input type="text" placeholder="¿Que queres comprar hoy?">
                    <button type="submit"><i class="material-icons">Buscar</i></button>
                </form>
                <a href="../../Grupo4/template/Login.html"><img src="../../Grupo4/Static/img/perfil.svg" alt="Perfil" class="img-perfil"></a>
            </div>
        </div>
    </header>  
    <div class="header">
        <H1 id="Inicio" style="text-align: center;"> NUESTOS PRODUCTOS </H1>
        <h2>Articulos de Higiene y Limpieza del Hogar</h2>
        <a href="https://www.clipartmax.com/png/middle/8-87147_as-clean-as-llc-is-a-reliable-office-cleaning-service-limpieza-en.png" alt="As Clean As Llc Is A Reliable Office Cleaning Service - Limpieza En El ">

    </div>

  
  <section>

 <p> <a href="#Desinfectantes">Desinfectantes </a></p>
</section>
  <p> <a href="#Desodorante"> Desodorante </a></p>
  <p> <a href="#Detergente">Detergente </a></p>
  <p> <a href="#Detergente">Detergente </a></p>
  <p> <a href="#Escoba">Escoba </a></p>
  <p> <a href="#Cepillos">Cepillos </a></p>
  <p> <a href="#Escobillon">Escobillon </a></p>
  <p> <a href="#Esponjas">Esponjas </a></p>
  <p> <a href="#Jabónes">Jabónes </a></p>
  <p> <a href="#Jabón Liquido">Jabón Liquido </a></p>
  <p> <a href="#Lavandina">Lavandina </a></p> 
  <p> <a href="#Lustra Muebles">Lustra Muebles </a></p> 
  <p> <a href="#Perfumes para Ropa">Perfumes para Ropa </a></p>
  <p> <a href="#Repasadores">Repasadores </a></p>
  <p> <a href="#Suavizante"> Suavizante</a></p>
  
 <article class="Desinfectante">  
<h2 id="Desinfectantes">Desinfectantes</h2><br>
<table>
  <thead>
      <tr>
          <th>Nombre del Producto</th>
          <th>Descripción</th>
          <th>Precio</th>
                      </tr>
  </thead>
  <tbody>
      <tr>
          <td>Desinfectante</td>
          <td>Desinfectante Aerosol</td>
          <td>$1800</td>
          
      </tr>
      <tr>
          <td>Desinfectante </td>
          <td>Desinfectante para pisos por 1L</td>
          <td>$900</td>
          
      </tr>
      <tr>
          <td>Desinfectante</td>
          <td>Desinfectante para baño 1L</td>
          <td>$1400</td>
          
      </tr>
      <tr>
          <td>Desinfectante</td>
          <td>Desinfectante gel para manos, 500ml</td>
          <td>$1.800</td>
          
      </tr>
    
  </tbody>
</table>

</article>
<h2 id="Desodorante">Desodorante</h2><br>
<table>
  <thead>
      <tr>
          <th>Nombre del Producto</th>
          <th>Descripción</th>
          <th>Precio</th>
                      </tr>
  </thead>
  <tbody>
      <tr>
          <td>Desodorante</td>
          <td>Desodorante P/Baño, 1 litro</td>
          <td>$1800</td>
          
      </tr>
      <tr>
          <td>Desodorante</td>
          <td>Desodorante P/Piso ,1L</td>
          <td>$900</td>
          
      </tr>
      <tr>
          <td>Desodorante </td>
          <td>Desodorante  Aerosol</td>
          <td>$1400</td>
          
      </tr>
      <tr>
          <td>Desodorante </td>
          <td>Desodorante P/Auto</td>
          <td>$3.800</td>
          
      </tr>
      <tr>
          <td>Difusores o ambientadores eléctricos</td>
          <td>Difusore eléctricos:</td>
          <td>$5.600.</td>
          
      </tr>
  </tbody>
</table>

<h2 id="Escoba">Escoba</h2><br>
<table>
  <thead>
      <tr>
          <th>Nombre del Producto</th>
          <th>Descripción</th>
          <th>Precio</th>
                      </tr>
  </thead>
  <tbody>
      <tr>
          <td>Escoba</td>
          <td>Escoba plastica</td>
          <td>$2000</td>
          
      </tr>
      <tr>
          <td>Escoba </td>
          <td>Escoba de paja</td>
          <td>$2.300</td>
          
      </tr>
      <tr>
          <td>Escoba</td>
          <td>Escoba P/ext</td>
          <td>$4000</td>
          
      </tr>
      <tr>
          <td>Escoba</td>
          <td>Escoba C/pala de mano</td>
          <td>$2.800</td>
          
      </tr>
       </tbody>
</table>
<br>
<img src="https://www.clipartmax.com/png/small/37-376057_temi-zli-k-i%CC%87%C5%9Fleri-icono-escoba-png.png" alt="Temi̇zli̇k İşleri̇ - Icono Escoba Png @clipartmax.com">
<h2 id="Cepillos">Cepillos</h2><br>
<table>
<ul>
    <ol>CEPILLO DE MANO</ol>
    <ol>CEPILLO DE ACERO</ol>
    <ol>CEPILLO DE PLASTICO</ol>
    <ol>CEPILLO DE UÑAS</ol>
  </ul>
</table>

<img src="https://www.clipartmax.com/png/small/158-1589677_dish-brush-290-mm-medium-blue-materiales-de-limpieza-industriales.png" alt="Dish Brush, 290 Mm, Medium, Blue - Materiales De Limpieza Industriales @clipartmax.com">
<h2 id="Escobillon">Escobillon</h2><br>
<img src="https://www.clipartmax.com/png/small/101-1013736_2018-nuevo-hogar-perezoso-limpieza-sin-electricidad-balai-aspirateur-sans-electricite.png" alt="2018 Nuevo Hogar Perezoso Limpieza Sin Electricidad">

<h2 id="Esponjas">Esponjas</h2><br>
<h2 id="Jabónes">Jabónes</h2><br>
<img src="https://www.clipartmax.com/png/small/429-4295334_soap-clipart-google-jabones-png.png" alt="Soap Clipart Google - Jabones Png @clipartmax.com">

<h2>Jabón Liquido</h2><br>

<TABLE>
  <ul>  
    <ol>Jabon en polvo</ol>
    <ol>Jabon en pan blanco</ol>
    <ol>Jabon liquido</ol>
    <ol>Jabon liquido para manos </ol>
    <ol>Jabon de tocador </ol>
 </ul>   
</TABLE>
<h2 id="Jabon Liquido">Jabon liquido</h2><br>
<img src="https://www.clipartmax.com/png/small/173-1735730_liquid-soap-coloring-page-jabon-liquido-dibujo.png" alt="Liquid Soap Coloring Page - Jabon Liquido Dibujo @clipartmax.com">
<h2 id="Lavandina">Lavandina</h2><br>
<h2 id="Lustra Mueble">Lustra Mueble</h2><br>
<img src="https://www.clipartmax.com/png/small/102-1025456_spray-paint-coloring-page-aerosol-para-colorear.png" alt="Spray Paint Coloring Page - Aerosol Para Colorear @clipartmax.com">
<h2 id="Perfume para Ropa">Perfume para Ropa</h2><br>
<img src="https://www.clipartmax.com/png/small/116-1166768_perfume-coloring-page-ultra-coloring-pages-beauty-salon-dibujo-de-un-perfume.png" alt="Perfume Coloring Page Ultra Coloring Pages Beauty Salon - Dibujo De Un Perfume Para Colorear @clipartmax.com">
<h2 id="Suavizante">Suavizante</h2><br>

<img src="https://www.clipartmax.com/png/small/120-1208484_detergent-coloring-page-detergente-desenho.png" alt="Detergent Coloring Page - Detergente Desenho @clipartmax.com">


<footer>


    <section class="section_footer">
        <article class="footer">

            <!--Check pago seguro-->
            <div class="contenidoFooter">
                <i class="fa-solid fa-circle-check" style="color:#000000;"></i>
                <div class="info_">
                    <h5>Pago seguro</h5>
                </div>
            </div>

            <!--Delivey-->
            <div class="contenidoFooter">
                <i class="fa-solid fa-truck-fast" style="color: #000000;"></i>
                <div class="info_">
                    <h5>Delivery</h5>
                </div>
            </div>

            <!--Diseño Gratis-->
            <div class="contenidoFooter">
                <i class="fa-solid fa-box-open" style="color:#000000;"></i>
                <div class="info_">
                    <h5>Empaquetado gratis</h5>
                </div>
            </div>

            <!--Asesoria tecnica-->
            <div class="contenidoFooter">
                <i class="fa-solid fa-headphones" style="color: #000000;"></i>
                <div class="info_">
                    <h5>Asesoria tecnica</h5>
                </div>
            </div>
        </article>


        <article>
            <div class="footer"><!--Informacion de contacto con sus logos-->
                <!--Contacto telefono-->
                <div class="contenidoFooter">
                    <i class="fa-solid fa-phone"></i>
                    <div>
                        <a class="nav_footer" href="tel:+1137799588">1189632541</a>
                    </div>
                </div>
                <!--Email-->
                <div class="contenidoFooter">
                    <i class="fa-solid fa-envelope"></i>
                    <div>
                        <a href="mailto:topalmacen@gmail.com">top_almacen@gmail.com</a>
                    </div>
                </div>
            </div>
        </article>


        <div class="footer">
            <div class="contenidoFooter2">
                <h6>2023 NOMBRE DE LA MARCA/TODOS LOS DERECHOS RESERVADOS.</h6><br>
            </div>
        </div>

    </section>

</footer>
</body>

</html>