<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--Fuente-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Comic+Neue:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap"
        rel="stylesheet">
    <!--Css-->
    <link rel="stylesheet" href="../Static/CSS/sucursales.css">

    <!--Iconos externos-->
    <script src="https://kit.fontawesome.com/fae5ac15d7.js" crossorigin="anonymous"></script>
    <title>Sucursales</title>
</head>

<body>
    <header>
        <div class="contenedora">
            <!-- navegador y menu-->
            <div>

                <a href="../index.html">
                    <figure>
                            <picture>
                                <source srcset="../Static/img/logo-almacen.svg" media="(min-width:100px)">
                                <img src="../../Grupo4/Static/img/logo-almacen.svg" alt="Logo de Top Almacen">
                            </picture>
                        </figure>
                    </a>
                    <nav>
                        <ul>
                            <li><a href="../index.html">Inicio</a></li>
                            <li><a href="./Productos.html">Productos</a></li>
                            <li><a href="./Sucursales.html">Sucursales</a></li>
                            <li><a href="./Registro.html">Registrate</a></li>
                        </ul>
                    </nav>
                    
            </div>
        </div>
    </header>
    <main>

        <div class="contenedor_sucursal_1">
            <div class="sucursal">TOP ALMACEN BRAGADO</div>
            <div class="direccion">Brandsen 620, Bragado, Provincia de Buenos Aires</div>
            <div class="mapa">
                <iframe 
                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3341610.370643635!2d-63.48063843399814!3d-35.124401579920445!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95beddd588d658f7%3A0x6ac5408e6ca55ce6!2sFrutas%20Y%20Verduras%20Almacen%20De%20Cercania%20Los%20Tilos!5e0!3m2!1ses-419!2sar!4v1718422440703!5m2!1ses-419!2sar" 
                style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade">
                </iframe>
            </div>

        </div>


        <div class="contenedor_sucursal_2">
            <div class="sucursal">TOP ALMACEN LUJAN</div>
            <div class="direccion">Saborido 1749, Luján, Provincia de Buenos Aires</div>
            <div class="mapa">
                <iframe
                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d40527.19577517846!2d-59.171788012775444!3d-34.583191412193884!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95bc7dfd04131917%3A0xd4a8ef8ebc883d0a!2sTILO%20almac%C3%A9n!5e0!3m2!1ses-419!2sar!4v1718423094729!5m2!1ses-419!2sar" 
                style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade">
                </iframe>
            </div>

        </div>


        <div class="contenedor_sucursal_3">
            <div class="sucursal">TOP ALMACEN LA PLATA</div>
            <div class="direccion">C. 10 esquina 67 N° 1699, La Plata, Provincia de Buenos Aires</div>
            <div class="mapa">
                <iframe
                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d64075.55857269213!2d-57.98693242434167!3d-34.91425492257092!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95a2e91a3d4dcded%3A0xbd0976c756d54fd6!2sAutoservicio%20F%C3%A9nix!5e0!3m2!1ses-419!2sar!4v1718423916961!5m2!1ses-419!2sar"
                style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade">
                </iframe>
            </div>

        </div>




    </main>
    <footer>


        <section class="section_footer">
            <article class="footer">

                <!--Check pago seguro-->
                <div class="contenidoFooter">
                    <i class="fa-solid fa-circle-check" style="color:#000000;"></i>
                    <div class="info_">
                        <h5>Pago seguro</h5>
                    </div>
                </div>

                <!--Delivey-->
                <div class="contenidoFooter">
                    <i class="fa-solid fa-truck-fast" style="color: #000000;"></i>
                    <div class="info_">
                        <h5>Delivery</h5>
                    </div>
                </div>

                <!--Diseño Gratis-->
                <div class="contenidoFooter">
                    <i class="fa-solid fa-box-open" style="color:#000000;"></i>
                    <div class="info_">
                        <h5>Empaquetado gratis</h5>
                    </div>
                </div>

                <!--Asesoria tecnica-->
                <div class="contenidoFooter">
                    <i class="fa-solid fa-headphones" style="color: #000000;"></i>
                    <div class="info_">
                        <h5>Asesoria tecnica</h5>
                    </div>
                </div>
            </article>


            <article>
                <div class="footer"><!--Informacion de contacto con sus logos-->
                    <!--Contacto telefono-->
                    <div class="contenidoFooter">
                        <i class="fa-solid fa-phone"></i>
                        <div>
                            <a class="nav_footer" href="tel:+1137799588">1189632541</a>
                        </div>
                    </div>
                    <!--Email-->
                    <div class="contenidoFooter">
                        <i class="fa-solid fa-envelope"></i>
                        <div>
                            <a href="mailto:topalmacen@gmail.com">top_almacen@gmail.com</a>
                        </div>
                    </div>
                </div>
            </article>


            <div class="footer">
                <div class="contenidoFooter2">
                    <h4>2023 NOMBRE DE LA MARCA/TODOS LOS DERECHOS RESERVADOS.</h4><br>
                </div>
            </div>

        </section>

    </footer>
</body>

</html>