body {
    background-color:rgba(27, 27, 26, 0.082);
}
.container {
    background-color: rgb(60, 152, 238);
    padding: 10px;
   
}

.contenedor {
    background-color: rgb(116, 125, 245);
    padding: 5px;

}