body {
    background-color: lightsteelblue;

}
.conteiner {
    background-color: rgb(177, 185, 54);
    padding: 10px;
}
.contenedor {
    background-color: rgb(68, 79, 236);
    padding: 5px;
    
}