* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Calibri', 'Arial Narrow', Arial, sans-serif;
}


header {
    box-shadow: 0 4px 2px #0000003f;
    position: sticky;
    top: 0;
    z-index: 8000;
}

header{
    background-color: #949496;
    color: #ffffff;
    padding: 0.5em;
}

.contenedora picture img {
    max-width: 70%;
    margin: 1em 0 1.3em 0;
}

.img-perfil {
    max-width: 60%;
    margin: 0 0 0 0.5em;
}

.contenedora div>a:first-of-type {
    width: 12%;
}

.contenedora div>a:last-of-type {
    width: 10%;
}

.contenedora {
    display: flex;
    flex-flow: row wrap;
    justify-items: center;
    align-items: center;
    text-align: center;
    justify-content: space-evenly;
}
ul{

    display: flex;
    flex-flow: row wrap;
    justify-items: center;
    align-items: center;
    text-align: center;
    justify-content: space-evenly;
    gap: 20px;
    text-decoration: none;
}

.contenedora>div:first-of-type {
    display: flex;
    padding: 1em 1em 1em 1em;
    justify-content: space-evenly;
    width: 90%;
    height: 3.2em;
    align-items: center;
}


.boton-nav {
    background-color: #00000000;
    cursor: pointer;
    color: #ffffff;
    display: flex;
    position: relative;
    z-index: 9999;
}

.boton-nav i {
    padding: 0;
    margin: 0;
}

/*MENU ----------------------------------*/

nav {
    position: relative;
}

.logo {
    height: 40px; 
    margin-left: 20px;
    display: flex;
}

.contenedora picture img {
    max-width: 70%;
    margin: 1em 0 1.3em 0;
}

.contenedora div>a:first-of-type {
    width: 12%;
}

.contenedora div>a:last-of-type {
    width: 10%;
}

.contenedora {
    display: flex;
    flex-flow: row wrap;
    justify-items: center;
    align-items: center;
    text-align: center;
    justify-content: space-evenly;
}
ul{

    display: flex;
    flex-flow: row wrap;
    justify-items: center;
    align-items: center;
    text-align: center;
    justify-content: space-evenly;
    gap: 20px;
    text-decoration: none;
}
li{
    text-decoration: none;
}
a{
    text-decoration: none;
}


main {
    background-image: url(../img/registro.jpg);
    background-repeat: no-repeat;
    background-size: auto;
}

#form-wrapper {
    width: 400px;
    background-color: #000000;
    padding: 30px;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 50px;
    color: aliceblue;
    box-shadow: 7px 13px 37px #000;
}

.form-control {
    width: auto;
    padding: auto;
    border-radius: 5px;
    margin-bottom: 10px;
    margin-top: 10px;

}

.titulo-registro {
    font-size: 25px;
    margin-bottom: 20px;
}

#firstname {
    width: 100%;
    padding: 10px 10px;
    background-color: #ffffff;
    border-radius: 4px;
    margin-bottom: 10px;
    border: 1px solid #8b8b8b;
    color: rgb(0, 0, 0);
}

#lastname {
    width: 100%;
    padding: 10px 10px;
    background-color: #ffffff;
    border-radius: 4px;
    margin-bottom: 10px;
    border: 1px solid #8b8b8b;
    color: rgb(0, 0, 0);
}

#birthdate {
    width: 100%;
    padding: 10px 10px;
    background-color: #ffffff;
    border-radius: 4px;
    margin-bottom: 10px;
    border: 1px solid #8b8b8b;
    color: rgb(0, 0, 0);

}

#country {
    width: 100%;
    padding: 10px 10px;
    background-color: #ffffff;
    border-radius: 4px;
    margin-bottom: 10px;
    border: 1px solid #8b8b8b;
    color: rgb(0, 0, 0);
}

#email {
    width: 100%;
    padding: 10px 10px;
    background-color: #ffffff;
    border-radius: 4px;
    margin-bottom: 10px;
    border: 1px solid #8b8b8b;
    color: rgb(0, 0, 0);
}

#telefono {
    width: 100%;
    padding: 10px 10px;
    background-color: #ffffff;
    border-radius: 4px;
    margin-bottom: 10px;
    border: 1px solid #8b8b8b;
    color: #000000;
}

#password {
    width: 100%;
    padding: 10px 10px;
    background-color: #ffffff;
    border-radius: 4px;
    margin-bottom: 10px;
    border: 1px solid #8b8b8b;
    color: rgb(0, 0, 0);
}

#repetir-password {
    width: 100%;
    padding: 10px 10px;
    background-color: #ffffff;
    border-radius: 4px;
    margin-bottom: 10px;
    border: 1px solid #8b8b8b;
    color: rgb(0, 0, 0);
}

#terminosycondiciones {
    width: auto;
    margin-bottom: 10px;
    color: white;
    text-decoration: none;
    line-height: 80px;

}

.submit {
    width: 100%;
    height: 20px;
    text-align: center;
    background-color: #ffffff;
    font-size: 15px;
    border: none;
    padding: auto;
    color: rgb(0, 0, 0);
    border-bottom: 30px;
    border-top: 30px;
}

.reset {
    width: 100%;
    height: 20px;
    text-align: center;
    background-color: #ffffff;
    font-size: 15px;
    border: none;
    padding: auto;
    color: rgb(0, 0, 0);
    border-bottom: 30px;
    border-top: 30px;
}

#yatienescuenta {

    width: auto;
    margin-bottom: 10px;
    margin-top: 10px;
    text-align: center;
    color: white;
    text-decoration: none;
}

#ingresar {
    width: 100%;
    height: 20px;
    text-align: center;
    background-color: #ffffff;
    font-size: 15px;
    border: none;
    padding: auto;
    color: rgb(0, 0, 0);
    border-bottom: 30px;
    border-top: 30px;
}

#forgetpassword {

    width: auto;
    padding: auto;
    margin-bottom: 100px;
    margin-top: 10px;
    text-align: center;
    color: white;
}

#titulo-login {
    font-size: 25px;
    margin-bottom: 20px;
    text-align: center;

}

#recordar-password {
    margin-top: 20px;
}

/*boton enviar */

.popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgb(0, 0, 0);
    color: #ffffff;
    padding: 20px;
    border: 1px solid #ccc;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    z-index: 1000;
    display: none; 
}

/*FOOTER*/

a{
    text-decoration: none;
}

.section_footer {
    display: flex;
    flex-flow:column;
    justify-content:center;
    color: white;
    
    
}


.footer {
    background-color: gray;
    display: flex;
    flex-flow: row wrap;
    justify-items: center;
    justify-content: space-evenly;
    gap: 10px;
    padding: 7px 7px;

}

.contenidoFooter{
    display: flex;
    justify-content: center;
    text-align: center;
    color: white;
}


.contenidoFooter2{
    display: flex;
    flex-flow: row wrap;
    justify-items: center;
    align-items: center;
    text-align: center;
}