* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Calibri', 'Arial Narrow', Arial, sans-serif;
}


.main {

    /*background-image: url("../img/logo_2.jpg");*/
    background-size: auto;
    background-position: 0%;
    background-repeat: no-repeat;
    height: 600px;

}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px;
    background-color: #ececec;
    
}

.nav {
    display: flex;
    display: flow-root;
    
}

.nav-list {
   
    list-style-type: none;
    display:flex;
    flex-direction: row;
    padding: 10px;
    
   
}

.abrir-menu {
    display: none;

}
@media screen and (max-width:500px) {
    .abrir-menu {

        display: block;
        
        
    }
    .nav{
        
        display: none;
        position: absolute;
        
        right: 0;

    }
    .nav-list{
        right: 50%;
        
    }
    
}


.header_nav nav a {
    display: flex;
    color: #1c1c1c;
    text-decoration: none;
    padding: 10px 50px;
}

.header_nav nav a:hover {
    color: black;
    


}

.section_footer {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    background-color: black;
    padding: 20px;
}

.footer {
    background-color: gray;
    display: flex;
    flex-flow: row wrap;
    justify-items: center;
    justify-content: space-evenly;
    gap: 10px;
    padding: 20px 50px;
}

.promocionesbancarias {
    color: white;
    padding: 20px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    background-color: black;
}

.banco1 {
    color: white;
    padding: 20px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    background-color: black;
}

.banco2 {
    color: white;
    padding: 20px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    background-color: black;
}

.banco3 {
    color: white;
    padding: 20px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    background-color: black;
}

.banco4 {
    color: white;
    padding: 20px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    background-color: black;
}