*{
    margin: 0;
    padding: 0;
    color: white;
    font-family: "Comic Neue", cursive;
    font-weight: 300;
    font-style:italic;

}
.header{
    background-color: black;
    padding: 25px;
}

nav{
    background-color: gray;
    padding: 50px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;

}

.header_nav nav a{
    color: white;
    background-color: black;
    text-decoration: none;
    padding: 10px 50px;
} 

.header_nav nav a:hover {
    color: black;
    background-color: antiquewhite;
    
}

.sucursales{
    background-image: url("https://png.pngtree.com/thumb_back/fw800/background/20231108/pngtree-supermarket-filled-with-background-image_14002600.jpg");
    background-repeat: no-repeat;
    background-size:cover;
    text-align: center;
    padding: 15px;
}

h1,th,td{
    background: linear-gradient(to top,rgba(25, 25, 25, 0.01),rgba(0, 0, 0, 0.64),rgba(25, 25, 25, 0.01));

}

th{
    background: linear-gradient(to top,rgba(25, 25, 25, 0.01),rgba(0, 0, 0, 0.64),rgba(0, 0, 0, 0.01));
    padding: 10px;
}


iframe{
    width: 100%;
    height: 300px;
}

.comic-neue-light {
    font-family: "Comic Neue", cursive;
    font-weight: 300;
    font-style: normal;
}
.comic-neue-light-italic {
    font-family: "Comic Neue", cursive;
    font-weight: 300;
    font-style: italic;}

.comic-neue-regular {
    font-family: "Comic Neue", cursive;
    font-weight: 400;
    font-style: normal;
}

.comic-neue-regular-italic {
    font-family: "Comic Neue", cursive;
    font-weight: 400;
    font-style: italic;
}

.comic-neue-bold {
    font-family: "Comic Neue", cursive;
    font-weight: 700;
    font-style: normal;
}

.comic-neue-bold-italic {
    font-family: "Comic Neue", cursive;
    font-weight: 700;
    font-style: italic;
}

h1{
    color: white;
    
    font-family: "Comic Neue", cursive;
    font-weight: 700;
    font-style: italic;}


.section_footer{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    background-color: black;
    padding: 20px;
}
.footer{
    background-color: gray;
    display: flex;
    flex-flow: row wrap;
    justify-items:center;
    justify-content: space-evenly;
    gap: 10px;
    padding: 20px 50px;
}